.navbar {
  background-color: white;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  padding: 0 8rem;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 0.5rem;
  margin-bottom: auto;
}

.create-link {
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

.profile-button-container {
  position: relative;
  display: inline-block;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
}

.brand-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #4169e1;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  padding: 35px 80px 40px 30px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
  white-space: nowrap;
  font-size: 15px;
  color: rgb(95, 91, 91);
  list-style: none;
  cursor: pointer;
}

.logout-button {
  border: none;
  background-color: white;
  color: rgb(160, 90, 90);
  padding: 0;
  cursor: pointer;
}

.logout-button:hover {
  color: #dc2626;
}
